<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <listener>
        <listener-class>com.mongodb.blockchain.servlet.BlockChainServletListener</listener-class>
    </listener>
    <context-param>
        <param-name>mongoHost</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>mongoPort</param-name>
        <param-value>27017</param-value>
    </context-param>
    <servlet>
        <servlet-name>UnconfirmedTransactions</servlet-name>
        <servlet-class>com.mongodb.blockchain.servlet.BlockchainAggregationServlet</servlet-class>
        <init-param>
            <param-name>db</param-name>
            <param-value>bitcoin</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TransactionLineage</servlet-name>
        <servlet-class>com.mongodb.blockchain.servlet.LineageServlet</servlet-class>
        <init-param>
            <param-name>db</param-name>
            <param-value>bitcoin</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>com.mongodb.blockchain.servlet.TransactionServlet</servlet-class>
        <init-param>
            <param-name>db</param-name>
            <param-value>bitcoin</param-value>
        </init-param>
        <init-param>
            <param-name>collection</param-name>
            <param-value>Transaction</param-value>
        </init-param>
    </servlet><servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/tx/*</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnconfirmedTransactions</servlet-name>
        <url-pattern>/utx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/tx/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionLineage</servlet-name>
        <url-pattern>/lineage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>